@import 'https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css';

* {
  box-sizing: border-box;
}
input {
  all: unset;
  box-sizing: border-box;
  appearance: none;
}
body {
  background-color: #fff8e5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: white;
}
button {
  background-color: white;
  color: black;
}
a {
  text-decoration: none;
  color: inherit;
}
form {
  width: 100%;
}
.nav {
  width: 80px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  padding: 40px 0;
}
/* nav dark */
.nav.dark {
  border-right: 1px solid rgba(231, 230, 237, 0.4);
  background-color: #193446;
}
.nav.dark .navlink,
.nav.dark li span {
  color: #e7e6ed;
}
.nav.dark .navlink:hover svg {
  color: rgba(231, 230, 237, 0.6);
}
.navlink {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: #e05d5d;
}
ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
li {
  margin-bottom: 45px; /*40*/
}
li:hover svg {
  color: rgba(224, 93, 93, 0.6);
}
li span {
  width: 55px;
  margin-top: 10px;
  text-align: center;
  overflow-wrap: break-word;
}
/* nav msg */
li a.active span {
  color: transparent;
}
/* nav logo */
li.logo span {
  color: transparent;
}
/* li a.active span::before {
  font-size: 16px;
  color: #e05d5d;
  content: '♡';
} */
.sweet-input::placeholder {
  color: white;
  opacity: 0.9;
}
form.container {
  margin: 60px 0 0 0;
}
.container {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 80px 0;
}
.formInput {
  padding: 8px 20px;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  color: black;
}
.formBtn {
  font-size: 12px;
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
  color: white;
  border-radius: 20px;
  background-color: #b197fc;
  background-color: #b197fc;
  cursor: pointer;
}
/* .authContainer.dark .authBtn */
.profileForm.dark .formBtn {
  background-color: #84a2bb;
}

/* Profile Page */
.profileForm {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.formBtn.logOut {
  margin-top: 25px;
  background-color: black;
  color: white;
}
.logOut:hover,
.authSubmit:hover {
  transition: 0.2s linear;
  background-color: rgba(0, 0, 0, 0.6);
}
.profileForm.dark .formInput {
  border: 1px solid #e7e6ed;
}
.profileForm.dark .formInput::placeholder {
  color: #e7e6ed;
}

/* Switter Factory */
.factoryForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.factoryInput__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}
.factoryInput__input {
  flex-grow: 1;
  height: 40px;
  padding: 0px 20px;
  color: #5f3dc4;
  border: 1px solid #5f3dc4;
  font-weight: 500;
  font-size: 12px;
}
.factoryInput__input:focus::placeholder {
  color: transparent;
}
.factoryInput__arrow {
  cursor: pointer;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #5f3dc4;
  width: 40px;
  height: 40px;
  color: white;
  border: 1px solid #5f3dc4;
}
.factoryInput__label {
  color: #ffb344;
  cursor: pointer;
}
.factoryInput__label span {
  margin-right: 10px;
  font-size: 12px;
}
.factoryForm__attachment {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.factoryForm__attachment img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.factoryForm__clear {
  color: #ffb344;
  cursor: pointer;
  text-align: center;
  margin-top: 4px;
}
.factoryForm__clear span {
  margin-right: 10px;
  font-size: 12px;
}
.factoryInput__label:hover,
.factoryForm__clear:hover {
  color: rgba(255, 179, 68, 0.6);
}
/* factory dark */
.factoryForm.dark .factoryInput__input {
  color: #e7e6ed;
  border: 1px solid #e9c77b;
}
.factoryForm.dark .factoryInput__arrow {
  color: black;
  border: 1px solid #e9c77b;
  background-color: #e9c77b;
}
.factoryForm.dark .factoryInput__label,
.factoryForm.dark .factoryForm__clear {
  color: #e9c77b;
}
.factoryForm.dark .factoryInput__label:hover,
.factoryForm.dark .factoryForm__clear:hover {
  color: rgba(233, 199, 123, 0.6);
  /* color: rgba(245, 224, 128, 0.6); */
}

/* Sweet */
.hello {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.info {
  display: flex;
  align-items: center;
}
form.sweetEdit {
  margin: 0;
}
.sweetEdit .formBtn {
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 5px;
}
.sweet {
  margin-bottom: 20px;
  background-color: white;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 6px;
  position: relative;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(255, 180, 66, 0.2);
}
.sweet .sweet__text {
  font-size: 14px;
  overflow-wrap: break-word;
  /* word-wrap: break-word;
  hyphens: auto; */
}
.sweet img {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}
.sweet__actions {
  color: #00a19d;
}
.sweet__actions span {
  cursor: pointer;
}
.sweet__actions span:first-child {
  margin-right: 16px;
}
.cancelBtn {
  cursor: pointer;
  background-color: #e5dbff;
}
/* sweet dark */
.sweet.dark {
  background-color: #193446;
  border: 1px solid rgba(231, 230, 237, 0.4);
}
.sweet.dark .dname,
.sweet.dark .sweet__text {
  color: #e7e6ed;
}
.sweet.dark .sweet__actions {
  color: #e28484;
}
.sweet.dark input.formInput,
.sweet.dark .formInput::placeholder {
  color: #e7e6ed;
  border: 1px solid #e7e6ed;
}
.sweet.dark .sweetEdit .formBtn {
  color: black;
  background-color: #84a2bb;
}
.sweet.dark .cancelBtn {
  color: black;
  background-color: #c4d4e0;
}

/* Auth */
.authContainer {
  width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.authBtns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
}
.authBtn {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  padding: 10px 0;
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
  background: #d0bfff;
  cursor: pointer;
}
.authBtn:hover,
form.profileForm .formBtn:hover {
  transition: 0.2s linear;
  background: rgba(208, 191, 255, 0.6);
}

/* AuthForm */
.authInput {
  max-width: 400px;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  font-size: 12px;
  color: black;
}
.authSubmit {
  text-align: center;
  background: black;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  padding: 15px;
}
.authError {
  color: tomato;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}
.authSwitch {
  font-weight: bold;
  color: #5f3dc4;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 50px;
  display: block;
  font-size: 12px;
  text-decoration: underline;
}

/* Message */
.msg-container {
  position: relative;
  display: flex;
  flex-direction: column;
  user-select: none;
  width: 100%;
  height: 400px;
  background-color: white;
  border-radius: 6px;
}
.msg-container .msgh {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 15px 0;
  font-weight: 500;
  border-bottom: 1px solid lightgray;
}
.msgs {
  cursor: pointer;
  width: 100%;
  color: black;
  border-bottom: 1px dotted lightgray;
}
.msgs .chat {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.mymsg {
  cursor: pointer;
  background-color: rgba(208, 191, 255, 0.4);
  color: black;
  border-radius: 20px;
  width: 200px;
  padding: 15px 20px;
}
.back {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 26px;
  cursor: pointer;
  color: gray;
}
.msgs .chat:hover {
  transition: 0.2s linear;
  background-color: rgba(230, 230, 230, 0.2);
}
.back:hover {
  color: #000;
  transition: 0.2s linear;
}

@media screen and (max-width: 800px) {
  .container {
    margin-top: 60px;
    padding: 0 20px;
  }
  .authContainer {
    padding: 0 20px;
  }
  form.sweetEdit {
    padding: 0;
  }
  .authBtns {
    flex-direction: row;
    padding: 0 20px;
  }
  .authBtns button {
    width: 156px;
    font-size: 11.5px;
    /* padding: 10px 12px; */
  }
  li.logo span {
    /* display: block; */
    color: #e05d5d;
  }
  .nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: unset;
    height: 100px;
    padding: 40px 0 0 0;
  }
  ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  li {
    margin: 0 6px;
    margin-bottom: 0;
  }
  .home,
  .more {
    display: none;
  }
}
